

.radio-group-card {
    .radio-button {
        box-shadow: 1px 1px 5px black;
    }


    &.hide-border {
        .radio-button {
            &:not(.checked) {
                border: transparent !important;
                box-shadow: none;
            }
        }
    }
    
    &.hide-border-selected {
        .radio-button.checked {
            border: transparent !important;
            box-shadow: none;
        }
    }
}